
*.cache

GameOfLife/GameOfLife/bin/Debug/
GameOfLife/GameOfLife/bin/Release/

GameOfLife/GameOfLife/obj/Debug/
GameOfLife/GameOfLife/obj/Release/
CPP/GameOfLife/cmake-build-debug

CPP/GameOfLife/.idea/

CPP/GameOfLife/cmake-build-release/

Go/.vscode/

Go/.idea/
